/*-----------------------------------------------GENERAL----------------------------------------------*/

.wrapper{
    width: 1024px;
    margin: 0 auto;
}


p{
    font-size: 14px;
    font-family: Montserrat;
    text-align: justify;
    line-height: 23px;
    margin-block-start: 0;
}

.clearfix{
    clear: both;
}
 
/*-----------------------------------------------HEADER----------------------------------------------*/


.fond{
    background-color: #FFD59E;
    height: 165px;
}



h1{
    font-family: Francois One;
    float:left;
    text-transform: uppercase;
    color: #FF6738; 
    font-size: 72px;
    padding-right: 64px;
    margin:0;
}


 h2{
    color: #FF6738;
    font-family: Francois One;
    font-weight: normal;
    font-size: 34px;
    width: 611px;
    height: 48px;
    margin-top: 15px;
    margin-bottom: 10px;
 }

.title-wrapper{
    float:left;
    width: 350px;
}
.clearfix{
    clear: both;
}

.rectangle1{

    background-color: #FF6738;
    width: 699px;
    height: 9px;
} 

.padded_header{
    padding-top:30px;
}

nav{
    background-color:#FF6738;
    line-height: 46px;
}


.first-color{
    font-weight: bold;
    font-family: Montserrat;
    font-style: normal; 
    margin-block-start: 0;
    margin-block-end: 0;
} 


.first-color li{
    display: inline;
    padding-inline-start: 10px;
}


a{
    font-size: 20px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
}


a:hover{
    background-color: #FFF;
    color: #FF6738;
}


/*---------------------------------------------------MAIN--------------------------------------------------*/



/*------------------------------------------------SECTION 1------------------------------------------------*/
#first-image{
    background: url(images/first.jpg)no-repeat center center;
    height: 300px;
}

#section1{
    width: 327px;
}

#second-image{
    background: url(images/second.jpg)no-repeat center;
    width: 327px;
    height: 297px;
    margin-top: 19px;
    float:left;
    margin-bottom: 19px;
}

#middle-aside{
    float:right;
    width: 644px;
    height: 230px; 
    float: right;
}

h3{
    color: #FFA938;
    font-family: Montserrat;    
    font-size: 36px;
    line-height: 44px;
    margin-block-start: 10px;
    margin-block-end: 1px;
}

.rectangle2{
    background: #FF6738;
    height: 9px;
    margin-top: 20px;
}


/*------------------------------------------------SECTION 2------------------------------------------------*/

#fondateur{
    background-color: #FFD59E;
    height: 780px;
} 


#section2{
    background: url(images/third.jpg)no-repeat top center;
    width: 1024px;
    height: 364px;
    clear: both;
}


h4{
    color: #FF6738;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 20px;
    padding-top: 300px;
    margin-block-end: 10px;
}


.left{
    width: 415px;
    float: left;
    padding-left: 70px;
    padding-top: 30px;
}


.right{
    width: 415px;
    float: right;
    padding-right: 70px;
    padding-top: 30px;
}


/*--------------------------------------------SECTION 3 RIGHT---------------------------------------------*/

#section3{
    width: 400px;
    height: 10px;
    display: inline;
    clear: both;
}

#section3-1{
    width: 400px;
    height: 10px;
    display:inline;
    clear:both;
}

.titre{
    text-transform: uppercase;
    font-family: Francois One;
    font-weight: normal;
    font-size: 48px;
    color: #FF6738;
    height: 60px;
    margin-left: 50px;
    float: left;
    margin-top: 15px;
    margin-block-end: 6px;
    padding-bottom: 10px;
}

.barre{
    background: #FF6738;
    width: 600px;
    height: 54px;
    margin-top: 20px;
    float: right;
    margin-bottom: 20px;
}

.sous-titre1{
    font-size: 36px;
    font-family: Montserrat;
    text-transform: uppercase;
    color: #FF6738;
    margin-block-start: 0;
    margin-block-end: 1px;
    width: 400px;
    height: 50px;
}

.pleft{
    float: left;
    font-family: Montserrat;
    font-style: normal;
    width: 482px;
    height: 247px;
    clear: both;
    margin-top: 60px;
}

#fourth-image{
    background: url(images/fourth.jpg);
    width: 512px;
    height: 297px;
    float:right;
    margin-bottom: 19px;
} 


/*---------------------------------------------SECTION 3 LEFT---------------------------------------------*/


.pright{
    margin-right: 550px; 
    margin-top: 352px;
    width: 482px;
    height: 247px;
}


#fifth-image{
    background: url(images/fifth.jpg)right;
    width: 512px;
    height: 297px;
    float:left;
    margin-bottom: 20px;
}


#sous-titre2{
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-size: 36px;
    color: #FF6738;
    margin-block-start: 0;
    margin-block-end: 1px; 
    width: 460px;
    height: 30px;
    margin-left: 538px; 
}


#para{
    width: 482px;
    font-family: Montserrat;
    font-style: normal;
    margin-left: 540px;
    padding-top: 45px;
}


#sixth-image{
    background: url(images/sixth.jpg) center;
    width: 512px;
    height: 297px;
    margin-top: 13px;
    float:right;
    margin-bottom: 19px;
}


.barre2{
    background: #FF6738;
    width: 600px;
    height: 54px;
    float: left;
    margin-bottom: 20px;
}


#titre2{
    text-transform: uppercase;
    font-family: Francois One;
    font-weight: normal;
    font-size: 48px;
    color: #FF6738;
    margin-left: 60px;
    float: left;
    margin-block-start: 0;
    margin-block-end: 0; 
}

/*-----------------------------------------------TABLEAU----------------------------------------------*/



table{
    width: 1024px;
    border-collapse: collapse;
} 


td, th{
    border: thin solid #000000;
    padding: 8px;
    text-align: center;
}


td{
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
}


.tablecolor1{
	background-color:#ff8e6b;
    color: #fff;
}


.tablecolor1-1{
	background-color: #ff8e6b;
    color: #fff;
    width: 400px;
}


.tablecolor2{
    background-color:#B7B7B7;
}


.barre3{
    background: #FF6738;
    width: 580px;
    height: 54px;
    float: left;
    margin-top:20px;
    margin-left: 55px;
}

.titre3{
    text-transform: uppercase;
    font-family: Francois One;
    font-weight: normal;
    font-size: 48px;
    color: #FF6738;
    height: 60px;
    float: left;
    padding-top: 15px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/*-----------------------------------------------FORMULAIRE---------------------------------------------*/
textarea:focus{
    border: none;
}

input[type=text], textarea{
    font-size: 24px;
    text-transform: uppercase;
    background: #FFD59E;
    border: none;
    padding-left:20px;
    color: #6d6d6d;
    font-family: Montserrat;
    font-style: normal;
}

#nom{
    color:black;
    margin-top: 20px;
    Width:395px;
    Height:66px;
    float: left;
    clear: both;
}

#prenom{
    color:black;
    Width:395px;
    Height:66px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
}

#courriel{
    color:black;
    Width:395px;
    Height:66px;
    margin-top: 15px;
    float: left;
    clear: both;
}

#telephone{
    color:black;
    Width:395px;
    Height:66px;
    margin-top: 15px;
    float:left;
    clear: both;
}

#reponse{
    color:black;
    Width:975px;
    Height:285px;  
    margin-top: 15px;
    margin-bottom: 20px;
    
}

#submit{
    font-size: 24px;
    width: 310px;
    height: 86px;
    background-color: #FF6738; 
    font-weight: bold; 
    color: #FFFF;
    margin-bottom: 27px;
    margin-right: 80px;
    float: right;
    border: none;
    font-weight: 500;;
    border-radius: 10px;
}


/*--------------------------------------------DERNIERE SECTION----------------------------------------*/

#last{
    background-color: #C4C4C4;
    width: auto;
    Height:294px;
    clear: both;
}

.lasttitle{ 
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: Francois One;
    color: #FF6738; 
    font-size: 72px;
    font-weight: bold;
}

.barre4{
    background: #FF6738;
    width: 587px;
    height: 54px;
    float: right;
    margin-top: 25px;
}


.adresse{
    font-family: Montserrat;
    padding-left: 5px;
    float: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: 40px;
}

/*
    La semantique c'est pour tes section principale. 
    a l'interieur des sections principales, la semantique est moins importante.
    Blogues
    section
        header > titre
        articles
            header > titre
            div >
                div > images
                div > texte
        articles
        articles
        articles
        articles


*/